<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="generadorModelosPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.mx.ca.pima.modelos.CatMenus</class>
    <class>com.mx.ca.pima.modelos.CatPersonas</class>
    <class>com.mx.ca.pima.modelos.CatEmpresas</class>
    <class>com.mx.ca.pima.modelos.CatProductos</class>
    <class>com.mx.ca.pima.modelos.MenusRoles</class>
    <class>com.mx.ca.pima.modelos.CatRoles</class>
    <class>com.mx.ca.pima.modelos.CatUsuarios</class>
    <class>com.mx.ca.pima.modelos.CatDemo</class>
    <class>com.mx.ca.pima.modelos.CatServiciosValidacionesExternos</class>
    <class>com.mx.ca.pima.modelos.CatConfiguracionesServiciosExternos</class>
    <class>com.mx.ca.pima.modelos.CatLocalidades</class>
    <class>com.mx.ca.pima.modelos.CatEstados</class>
    <class>com.mx.ca.pima.modelos.CatMunicipios</class>
    <class>com.mx.ca.pima.modelos.CatZonas</class>
    <class>com.mx.ca.pima.modelos.CatSubdirecciones</class>
    <class>com.mx.ca.viu.modelos.CatMunicipios</class>
    <class>com.mx.ca.viu.modelos.CatEmpresas</class>
    <class>com.mx.ca.viu.modelos.CatLocalidades</class>
    <class>com.mx.ca.viu.modelos.CatSubdirecciones</class>
    <class>com.mx.ca.viu.modelos.CatUsuarios</class>
    <class>com.mx.ca.viu.modelos.CatZonas</class>
    <class>com.mx.ca.viu.modelos.CatConfiguracionesServiciosExternos</class>
    <class>com.mx.ca.viu.modelos.CatSucursales</class>
    <class>com.mx.ca.viu.modelos.CatRoles</class>
    <class>com.mx.ca.viu.modelos.CatPersonas</class>
    <class>com.mx.ca.viu.modelos.CatServiciosValidacionesExternos</class>
    <class>com.mx.ca.viu.modelos.CatRolesEmpresas</class>
    <class>com.mx.ca.viu.modelos.CatEstados</class>
    <class>com.mx.ca.viu.modelos.CatUsuariosEmpresas</class>
    <class>com.mx.ca.viu.modelos.CatMenus</class>
    <class>com.mx.ca.viu.modelos.MenusRoles</class>
    <class>com.mx.ca.viu.modelos.CatRegiones</class>
    <class>com.mx.ca.viu.modelos.CatZonasEmpresas</class>
    <class>com.mx.ca.viu.modelos.CatSubdireccionesEmpresas</class>
    <class>com.mx.ca.viu.modelos.DtConfiguracionEmpresas</class>
    <class>com.mx.ca.viu.modelos.DtConfiguracionValidaciones</class>
    <class>com.mx.ca.viu.modelos.MvDatosSolicitud</class>
    <class>com.mx.ca.viu.modelos.CatProductos</class>
    <class>com.mx.ca.viu.modelos.CatValores</class>
    <class>com.mx.ca.viu.modelos.CatRangosVencimiento</class>
    <class>com.mx.ca.viu.modelos.MvConfigSolicitudes</class>
    <class>com.mx.ca.viu.modelos.CatModulo</class>
    <class>com.mx.ca.viu.modelos.MvConfigAvisos</class>
    <class>com.mx.ca.viu.modelos.MvConfigRiesgo</class>
    <class>com.mx.ca.viu.modelos.CatTiposAvisos</class>
    <class>com.mx.ca.viu.modelos.CatFolio</class>
    <class>com.mx.ca.viu.modelos.ValidacionesValores</class>
    <class>com.mx.ca.viu.modelos.CatCampos</class>
    <class>com.mx.ca.viu.modelos.MvConfigMensajes</class>
    <class>com.mx.ca.viu.modelos.CatTipoCampo</class>
    <class>com.mx.ca.viu.modelos.MvConfigNivelRiesgo</class>
    <class>com.mx.ca.viu.modelos.CatValoresTiempoVida</class>
    <class>com.mx.ca.viu.modelos.CatDocumentos</class>
    <class>com.mx.ca.viu.modelos.MvConfigTiempoVida</class>
    <class>com.mx.ca.viu.modelos.CatValidaciones</class>
    <class>com.mx.ca.viu.modelos.CatEstatus</class>
    <class>com.mx.ca.viu.modelos.CatTiposValidacionesDisponibles</class>
    <class>com.mx.ca.viu.modelos.DtValidacionesServiciosEmpresa</class>
    <class>com.mx.ca.viu.modelos.DtDatosOcrIdentificacion</class>
    <class>com.mx.ca.viu.modelos.InegiClaveMunicipio</class>
    <class>com.mx.ca.viu.modelos.DatosSolicitudCategorias</class>
    <class>com.mx.ca.viu.modelos.CatTipoDato</class>
    <class>com.mx.ca.viu.modelos.MensajesValidaciones</class>
    <class>com.mx.ca.viu.modelos.DatosSolicitudCampos</class>
    <class>com.mx.ca.viu.modelos.DtPepsListasNegras</class>
    <class>com.mx.ca.viu.modelos.Municipio</class>
    <class>com.mx.ca.viu.modelos.AsentamientoTipo</class>
    <class>com.mx.ca.viu.modelos.Ciudad</class>
    <class>com.mx.ca.viu.modelos.CatServiciosValidacionesInternos</class>
    <class>com.mx.ca.viu.modelos.Estado</class>
    <class>com.mx.ca.viu.modelos.DatosValidacionMrz</class>
    <class>com.mx.ca.viu.modelos.DtValidacionIneVsListaNominal</class>
    <class>com.mx.ca.viu.modelos.CatCategoriasCampos</class>
    <class>com.mx.ca.viu.modelos.ZonaTipo</class>
    <class>com.mx.ca.viu.modelos.DatosComprobanteExtras</class>
    <class>com.mx.ca.viu.modelos.MvDocumentosTipos</class>
    <class>com.mx.ca.viu.modelos.Colonia</class>
    <class>com.mx.ca.viu.modelos.DtValidacionCurp</class>
    <class>com.mx.ca.viu.modelos.InegiClaveCiudad</class>
    <class>com.mx.ca.viu.modelos.DatosResultConsultaListaNegraPeps</class>
    <class>com.mx.ca.viu.modelos.DatosDocProbatorio</class>
    <class>com.mx.ca.viu.modelos.MvConfigMensaje</class>
    <class>com.mx.ca.viu.modelos.MvDocumentosCategorias</class>
    <class>com.mx.ca.viu.modelos.DatosSolicitudDocumentos</class>
    <class>com.mx.ca.viu.modelos.DtComparacionFacial</class>
    <class>com.mx.ca.viu.modelos.CodigoPostal</class>
    <class>com.mx.ca.viu.modelos.MvAdminNivelRiesgo</class>
    <class>com.mx.ca.viu.modelos.CatTiposDocumentos</class>
    <class>com.mx.ca.viu.modelos.DtDatosComprobanteDom</class>
    <class>com.mx.ca.viu.modelos.MvServiciosValidacionesInternos</class>
    <class>com.mx.ca.viu.modelos.CatTiposResidencias</class>
    <class>com.mx.ca.viu.modelos.DtIdentificacionCliente</class>
    <class>com.mx.ca.viu.modelos.MvResultadosValidacionesServiciosDigital</class>
    <class>com.mx.ca.viu.modelos.DtResultadosDatosValidados</class>
    <class>com.mx.ca.viu.modelos.CatEstadosCiviles</class>
    <class>com.mx.ca.viu.modelos.MvResultadosValidacionesServiciosBiometricos</class>
    <class>com.mx.ca.viu.modelos.MvSolicitudProducto</class>
    <class>com.mx.ca.viu.modelos.CatGradoMaximoEstudios</class>
    <class>com.mx.ca.viu.modelos.MvGuardadosProceso</class>
    <class>com.mx.ca.viu.modelos.CatNacionalidades</class>
    <class>com.mx.ca.viu.modelos.DtDatosLaborales</class>
    <class>com.mx.ca.viu.modelos.CatGirosNegociosEmpresas</class>
    <class>com.mx.ca.viu.modelos.DatosSolicitudAvisos</class>
    <class>com.mx.ca.viu.modelos.MvResultadosValidacionesDocumentos</class>
    <class>com.mx.ca.viu.modelos.CatClientes</class>
    <class>com.mx.ca.viu.modelos.MvResultadosValidacionesServiciosAutoridades</class>
    <class>com.mx.ca.viu.modelos.CatDirecciones</class>
    <class>com.mx.ca.viu.modelos.CatTiposViviendas</class>
    <class>com.mx.ca.viu.modelos.CatTiemposEmpleoActual</class>
    <class>com.mx.ca.viu.modelos.CatCaracteristicasNegocios</class>
    <class>com.mx.ca.viu.modelos.CatListaNegraAmextra</class>
    <class>com.mx.ca.viu.modelos.BtValidacionSms</class>
    <class>com.mx.ca.viu.modelos.DtReferenciasPersonales</class>
    <class>com.mx.ca.viu.modelos.CatParentescos</class>
    <class>com.mx.ca.viu.modelos.CatFrecuenciaPago</class>
    <class>com.mx.ca.viu.modelos.CatPatrimonios</class>
    <class>com.mx.ca.viu.modelos.CatDestinoCreditos</class>
    <class>com.mx.ca.viu.modelos.CatIdentificaciones</class>
    <class>com.mx.ca.viu.modelos.MvSolicitudesAmextra</class>
    <class>com.mx.ca.viu.modelos.DtPatrimonio</class>
    <class>com.mx.ca.viu.modelos.DtEgresos</class>
    <class>com.mx.ca.viu.modelos.CatProductosCredito</class>
    <class>com.mx.ca.viu.modelos.DtIngresos</class>
    <class>com.mx.ca.viu.modelos.CatProperties</class>
    <class>com.mx.ca.viu.modelos.DtIdentificaciones</class>
    <class>com.mx.ca.viu.modelos.CatColonias</class>
    <class>com.mx.ca.viu.modelos.CatAgenda</class>
    <class>com.mx.ca.viu.modelos.DtValidacionPinCliente</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://192.168.1.175:5432/viu"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
    </properties>
  </persistence-unit>
</persistence>
